.white
    --primary-color #fff
    --secondary-color #ddd

    --text-primary-color #000
    --text-secondary-color #5F6368

    --link-primary-color #1A73E8
    --link-secondary-color #0962D7

    --source-color #fff

    --destination-color #F5F5F5
    --destination-placeholder #5F6368
    --destination-small-color #1A73E8
    --destination-small-placeholder #fff

    --swap-brightness .5
    --icon-brightness 0
    --icon-saturate 0
    --icon-hue 0deg

    --box-shadow rgba(0, 0, 0, .12)

.black
    --primary-color #010101
    --secondary-color #070707

    --text-primary-color #fff
    --text-secondary-color #5F6368

    --link-primary-color #0962D7
    --link-secondary-color #0052C7

    --source-color #1E1E1E

    --destination-color #0E0E0E
    --destination-placeholder #5F6368
    --destination-small-color #0962D7
    --destination-small-placeholder #fff

    --swap-brightness .5
    --icon-brightness 100
    --icon-saturate 0
    --icon-hue 0deg

    --box-shadow rgba(255, 255, 255, .12)

.dark-blue
    --primary-color #091721
    --secondary-color #0D1B25

    --text-primary-color #4D5B65
    --text-secondary-color #404B55

    --link-primary-color  #554640
    --link-secondary-color #504B3A

    --source-color #091721

    --destination-color #02111B
    --destination-placeholder #005A8A
    --destination-small-color #22313B
    --destination-small-placeholder #fff

    --swap-brightness .5
    --icon-brightness 1
    --icon-saturate 1
    --icon-hue 245deg

    --box-shadow rgba(50, 50, 255, .12)

.dark-red
    --primary-color #210917
    --secondary-color #250D1B

    --text-primary-color #654D5B
    --text-secondary-color #55404B

    --link-primary-color  #3B2231
    --link-secondary-color #8A005A

    --source-color #210917

    --destination-color #1B0211
    --destination-placeholder #8A005A
    --destination-small-color #3B2231
    --destination-small-placeholder #fff

    --swap-brightness .5
    --icon-brightness .5
    --icon-saturate 1
    --icon-hue 0deg

    --box-shadow rgba(50, 50, 255, .12)

.blue
    --primary-color #ADD8E6
    --secondary-color #5D8896

    --text-primary-color #22313B
    --text-secondary-color #5F6368

    --link-primary-color #495761
    --link-secondary-color #293741

    --source-color #CDF8F7

    --destination-color #6DA8A7
    --destination-placeholder #F5F5F5
    --destination-small-color #ADC8C7
    --destination-small-placeholder #F5F5F5

    --swap-brightness .5
    --icon-brightness 4
    --icon-saturate 1
    --icon-hue 190deg

    --box-shadow rgba(200, 150, 200, .12)

.red
    --primary-color #ff6961
    --secondary-color #EE584E

    --text-primary-color #FFF
    --text-secondary-color #FDF

    --link-primary-color #EFD5EF
    --link-secondary-color #FFC0CB

    --source-color #F14131  

    --destination-color #DD473D
    --destination-placeholder #F5F5F5
    --destination-small-color #FFC0CB
    --destination-small-placeholder #FF584F

    --swap-brightness .9
    --icon-brightness .9
    --icon-saturate 1
    --icon-hue 0deg

    --box-shadow rgba(200, 150, 200, .12)

.pink
    --primary-color #F1F1F1
    --secondary-color #F7F7F7

    --text-primary-color #FBBCC7
    --text-secondary-color #D99AA5

    --link-primary-color #EFD5EF
    --link-secondary-color #FFC0CB

    --source-color #fff

    --destination-color #EEDDEE
    --destination-placeholder #F5F5F5
    --destination-small-color #FFC0CB
    --destination-small-placeholder #fff

    --swap-brightness 4
    --icon-brightness 5
    --icon-saturate 1
    --icon-hue 300deg

    --box-shadow rgba(200, 150, 200, .12)